.about {
  margin-top: 35rem;
}

.about__title {
  text-align: center;
  font-size: 2.81rem;
  font-weight: 600;
}

.about__galery {
  max-width: 71.25rem;
  margin: 0 auto;
}

.galery__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 820px) {
  .galery__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .galery__tab {
    width: 95vw;
  }
}
.galery__tab {
  display: inline-block;
  height: 6.5rem;
  width: 12rem;
  background: #F9FCFD;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
  border-radius: 10px;
  margin-right: 2.3rem;
  margin-bottom: 3rem;
}

@media (max-width: 820px) {
  .galery__tab {
    width: 95vw;
  }
}
.galery__link {
  background-color: #fff;
  height: 4.5rem;
  width: 10.25rem;
  margin: 1rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.1);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.1);
  font-size: 1.375rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 820px) {
  .galery__link {
    width: 90vw;
  }
}
.galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 53rem 10px 1fr;
  grid-template-columns: 53rem 1fr;
  -ms-grid-rows: 11.9rem 10px 11.9rem 10px 11.9rem;
  grid-template-rows: 11.9rem 11.9rem 11.9rem;
  gap: 10px;
}
.galery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.galery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.galery > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.galery > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.galery > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.galery > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

@media (max-width: 1199px) {
  .galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.galery__item {
  margin: auto;
}

@media (max-width: 768px) {
  .galery {
    margin: auto 1rem;
  }
}
.galery__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background-image: url(../img/IMG__territory.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 53rem;
  height: 35.8rem;
}

@media (max-width: 768px) {
  .galery__item--1 {
    height: 63vw;
  }
}
.galery__item--2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 10.7rem;
  width: 16.4rem;
  background-image: url(../img/IMG__2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.galery__item--3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 10.7rem;
  width: 16.4rem;
  background-image: url(../img/IMG__3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 375px) {
  .galery__item--3 {
    display: none;
  }
}
.galery__item--4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 10.7rem;
  width: 16.4rem;
  background-image: url(../img/IMG__4.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 860px) {
  .galery__item--4 {
    display: none;
  }
}
.galery__text {
  background-color: #fff;
  width: 29.625rem;
  height: 18.75rem;
  border-radius: 10px;
  margin: 15rem 1rem 1rem 2rem;
  overflow: auto;
}
.galery__text h3 {
  color: #212D55;
  font-weight: 600;
  font-size: 1.375rem;
  padding: 1rem 0rem 0rem 1rem;
}
.galery__text p {
  color: #656D89;
  font-size: 1rem;
  padding: 0rem 1rem 1rem 1rem;
}

.galery__text::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 768px) {
  .galery__text {
    margin: 5rem 1rem 1rem 2rem;
  }
}
@media (max-width: 400px) {
  .galery__text {
    margin: 1rem;
    width: 28.625rem;
    height: 15rem;
  }
}
.galery__text--none {
  display: none;
}