.header{
    height: 5.875rem;
    // position: relative;
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    margin: 0 auto;
}
 .menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 5rem;
    flex-wrap: wrap;
 }
.menu__list{
    // display: flex;
    // justify-content: space-between;
    // <img src="./img/IMG__territory.png" alt="" class="galery__img">
}
.menu__item{
    display: inline-block;
    margin: 0 2rem;
    
}
.menu__link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight:600;
    color: #212D55;
    transition: 0.5s;
}

.menu__link:hover{
    color: #31BEF4;
    transition: 0.5s;
}

address{
    font-style: normal;
    text-align: center;
}
.contacts__title{
    font-weight: normal;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 0.5rem;
    cursor: pointer;
}

.contacts__phone{
    font-family: 'Montserrat';
    text-decoration: none;
    color:#212D55;
    font-weight: bold;
    font-size: 20px;
}
