.hero{
    background-image: url(../img/BG__hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    // width: 1440px;
    // height: 811px;
}

.hero__container{
    height: 100%;
}

.hero__text-content{
    text-align: center;
    margin-top: 12rem;
}

.hero__title{
    font-size: 3.75rem;
    font-weight: normal;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: normal;
}

.hero__price{
    font-family: 'Montserrat';
    font-size: 2.19rem;
    font-weight: 700;
}

.button__price{
    display: block;
    margin: 0 auto;
    background: #31BEF4;
    border: none;
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 1.375rem;
    font-weight: 600;
    color: #fff;
    box-shadow: 0px 6px 0px #2CABDC;
    padding: 15px 25px;
    cursor: pointer;
   
}
