html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 6 * (100vw - 320px) / 680);
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}
html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-family: "Raleway";
  color: #212D55;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}